
@import "./partials/clearfix.scss";
@import "./partials/reset.scss";
@import "./partials/media-query.scss";
@import "./partials/listing-styles.scss";
@import "./partials/edit-styles.scss";
@import "./partials/detailed-styles.scss";
@import "./partials/user-page-styles.scss";

* {
    box-sizing: border-box;
}

body {
    padding: 4vw;
    font-family: 'Arial', sans-serif;
    color: #a6a6a6;
    @include respond-to(large){
        padding: 4vw;
    }
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

#page-container {
    display: flex;
    flex-flow: column;
    padding: 15px 35px 30px 35px;
    @include respond-to(large) {
        padding-left: 55px;
        padding-right: 55px;
    }
}

#header {
    display: flex;
    flex-flow: row wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include respond-to(large){
        border-top: dotted 1px lightgrey;
        align-items: center;
}
    }

#logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 7.5vw;
    font-weight: bold;
    color: #68636A;

    @include respond-to(large){
        width: 70%;
        flex-grow: 1;
        margin-right: -4rem;
    }
}

#paragraph {
    display: none;

    @include respond-to(large){
        display: initial;
        width: 30%;
        border-left: solid 1px #ccc;
        border-size: border-box;
        padding-left: 1rem;
        font-family: 'Arial', sans-serif;
        font-size: 1rem;
        color: lightgrey;
    }
}

#sign-in {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

#user-welcome {
    @include respond-to(large){
        float: right;
    }
    align-items: center;
}

#username-logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#user-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

input[type=submit] {
    border-radius: 2px;
      height: 3rem;
      padding: 0;
      width: 8rem;
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: #68636A;
      color: white;
}

input[type=submit]:hover {
    background-color: lightgrey;
    border: none;
}
input[type=text]{
    height: 3rem;
    width: 100%;
}

.home-buttons {
  border-radius: 2px;
  height: 3rem;
  padding: 0;
  width: 8rem;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #68636A;
  color: white;
}

.home-buttons:hover {
    background-color: lightgrey;
    border: none;
}





