<form action="/create" method="POST">
    Please create username...<br><input type="text" name="username" placeholder="create username..."><br>
    Please create password...<br><input type="password" name="password" placeholder="create password..."><br>
    <input type="submit" value="Submit">
</form>
{{{messages}}}
