<form action="/gallery" method='POST'>
    Author: <br><input type="text" name="author" placeholder="author name..."><br>
    Link: <br><input type="text" name="link" placeholder="image link..."><br>
    Description: <br><input type="text" name="descrption" placeholder="photo description..."><br>
    <br><input type="submit" value="Submit">
</form>