<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Gallery Page</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
    <div id="header">
        <h1 id="left-header">_ARCHITEKT</h1>
        <h1 id="right-header">If you actually take the time to read this you will realize that it's not actually saying anything but I will write a haiku, as a reward for your persistance in making it this far: <br>I suck at Haikus <br>I start out with lots of promise <br>refrigerator </h1>
</div>


{{{body}}}
</body>
</html>