.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  padding: 4vw;
  font-family: 'Arial', sans-serif;
  color: #a6a6a6; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    body {
      padding: 4vw; } }

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none; }

#page-container {
  padding: 15px 35px 30px 35px; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    #page-container {
      padding-left: 55px;
      padding-right: 55px; } }

#header {
  display: flex;
  flex-flow: row wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    #header {
      border-top: dotted 1px lightgrey;
      align-items: center; } }

#logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  font-size: 7.5vw;
  font-weight: bold;
  color: #68636A; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    #logo {
      width: 70%;
      flex-grow: 1;
      margin-right: -4rem; } }

#paragraph {
  display: none; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    #paragraph {
      display: initial;
      width: 30%;
      border-left: solid 1px #ccc;
      border-size: border-box;
      padding-left: 1rem;
      font-family: 'Arial', sans-serif;
      font-size: 1rem;
      color: lightgrey; } }

#sign-in {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 25px; }

#user-welcome {
  align-items: center; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    #user-welcome {
      float: right; } }

#username-logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem; }

#user-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%; }

.home-buttons {
  border-radius: 2px;
  height: 3rem;
  padding: 0;
  width: 8rem;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #68636A;
  color: white; }

.home-buttons:hover {
  background-color: lightgrey; }

#gallery-container {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-flow: row wrap;
  text-align: left;
  align-items: center; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    #gallery-container {
      justify-content: space-between; } }

.photo-card {
  padding: 1rem;
  max-height: 100%;
  object-fit: cover;
  height: 100%;
  width: 90%; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    .photo-card {
      width: 30%;
      height: 30%;
      object-fit: cover;
      border-bottom: dotted 1px lightgrey;
      padding-bottom: 1rem; }
      .photo-card h3 {
        font-size: 20px;
        padding: .5rem; }
      .photo-card img {
        width: 100%;
        height: 16rem; } }
  .photo-card h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    padding: .5rem; }
  .photo-card h3:first-child {
    display: none; }

.photo-card:first-child {
  max-height: 100%;
  width: 100%;
  border-bottom: dotted 1px lightgrey;
  padding-bottom: 1rem; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    .photo-card:first-child {
      margin-top: 2rem;
      margin-bottom: 1rem; } }
  .photo-card:first-child h3 {
    display: none; }
  .photo-card:first-child img {
    height: 100%;
    width: 100%; }

.image-box {
  width: 100%;
  height: 100%;
  object-fit: cover; }

#new-welcome {
  display: flex;
  flex-flow: column; }

* {
  box-sizing: border-box; }
