body {
    padidng: 4vw;
    font-family: 'Arial', sans-serif;
    color: #a6a6a6;
    @include respond-to(large){
        padding: 4vw;
    }
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

#page-container {
    padding: 10px 30px 30px 30px;
}

#header {
    display: flex;
    flex-flow: row wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 8rem;

    @include respond-to(large){
        border-top: dotted 1px lightgrey;
        align-items: center;
}
    }

#logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 7.5vw;
    font-weight: bold;
    color: #68636A;

    @include respond-to(large){
        width: 70%;
        flex-grow: 1;
        margin-right: -4rem;
    }
}

#paragraph {
    display: none;

    @include respond-to(large){
        display: initial;
        width: 30%;
        border-left: solid 1px #ccc;
        border-size: border-box;
        padding-left: 1rem;
        font-family: 'Arial', sans-serif;
        font-size: 1rem;
        color: lightgrey;
    }
}

#sign-in {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

#user-welcome {
    display: inline-block;
    width: 100%;
}

#username-logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#user-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

#gallery-container {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-flow: row wrap;
    text-align: left;

}

.photo-card {
    @include respond-to(large){
        height: 30%;
        width: 30%;
    }
    width: 100%;

}

.photo-card:first-child {
    height: 100%;
    width: 100%;
    overflow: hidden;
    h3 {
        display: none;
    }
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.image-box {
    width: 100%;
}

#new-welcome {
    display: flex;
    flex-flow: column;
}